node_modules/
*/npm-debug.log
*/yarn-error.log
*/.DS_Store
*/static/*.html
*/static/*.js
*/static/*.css
*/static/*.map
.cache/
*.pyc
densedepth_model/
depth_visualizer/util.py
adversarial/adversarial_example.py
adversarial/layers.py
adversarial/loss.py
adversarial/nyu.h5
art_history_vis/images/
art_history_vis/temp/

